<span>
    <span tooltip-html-unsafe="{{popoverText}}">
                <i class="glyphicon glyphicon-user"></i>
                {{user.username||(alt|i18n)}}
    </span>
    <span class="hidden_data" style="display:none">
        <div class="media">
            <div class="media-body">
                <ul class="list-unstyled list-info">
                    <li class="ng-binding">
                        <span class="icon glyphicon glyphicon-user"></span>
                        <label>User name</label>
                        Lisa Doe
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-envelope"></span>
                        <label>Email</label>
                        lisa@doe.com
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-globe"></span>
                        <label>Website</label>
                        www.site.com
                    </li>
                </ul>

            </div>
        </div>
    </span>
</span>

